# Use c++20
# build --repo_env=BAZEL_CXXOPTS='-std=c++20:-O3'
# run --repo_env=BAZEL_CXXOPTS='-std=c++20:-O3'

# We require bzlmod.
# build --experimental_enable_bzlmod
# run --experimental_enable_bzlmod

build --repo_env=CXX=gcc12
run --repo_env=CXX=gcc12
